html, body {
    margin: 0;
    padding: 0;
    background-color:rgb(33, 33, 41);
    font-family: Raleway, sans-serif;
  }
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color: azure;
    background-color: black;
    opacity: 0.9;

}
.tab{
    text-align: center;
    padding: 30px;
    font-family: 'Raleway', sans-serif;
    padding-right: 25px;
    padding-bottom: 10px;
    color: white;
}
p{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 35px;
    font-size: 20px;
    color: rgb(255, 255, 255)
} 
.banner{
    background-image: url(https://farm5.staticflickr.com/4910/33513735958_b65b1433b4_k.jpg);
    height: 800px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
   background-position-y: 1350px;
}
.nav ul{
    text-align: center;
}
.nav ul li{
    text-align: center;
    display: inline-block;
    padding: 30px;
    background-color: rgb(43, 57, 83);
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin: 10px;
}
#Brady{
    list-style: none;
padding-right: 350px;
padding-left: 310px;



}
#Piper{
    list-style: none;
    padding-left: 400px;
padding-right: 300px;
}
a{
    color: rgb(0, 0, 0);
   
}
#Evan{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
}W